name: Application-Linux

on:
  push:

jobs:
  perl:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        perl-version:
          - '5.38' # We only test on LTS, LTS - 1
          - '5.40'

    container:
      image: docker:27-cli

    steps:
      - uses: actions/checkout@v2
      - name: Inject version
        run: sed -i -e 's/PERL_VERSION/${{matrix.perl-version}}/g' test.Dockerfile
      - name: Make docker network
        run: docker network create -d bridge slapbird-test-net
      - name: Spin test database
        run: docker run --name slapbird-postgres-test -e POSTGRES_USER=slapbird -e POSTGRES_PASSWORD=password -e POSTGRES_DB=slapbird --expose 5432 --network slapbird-test-net -d postgres:15-alpine
      - name: Build test container
        run: docker build -t slapbird-test --progress=plain . -f test.Dockerfile
      - name: Test application
        run: docker run --network -e SLAPBIRD_GITHUB_ACTION=1 slapbird-test-net slapbird-test 
